
@media only screen and (max-width: 600px) {
    .header-top{
        height: 60px !important;
    }
    .camera_pag{
        left: 200px !important;
    }
    .single-content h2{
        font-size: 17px;
        font-weight: bold;
    }
}

body{
    direction: ltr;
    /*background--color: #f2e6e2;*/
    font-family: droid arabic kufi,tahoma,verdana,Arial;
    /*backgr-ound: url(../images/bk1.png) fixed;
    backgr-ound: -webkit-linear-gradient(#5665AE, #1d1d1d);*/

    /*background: url(https://image.slidesharecdn.com/random-131009032238-phpapp02/95/-60-638.jpg?cb=1381289451) no-repeat fixed;*/
    background: url("../images/bg.png") repeat-x top;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background--size: cover;*/
    background--size: 100% 100%;

    /*font-family: 'Dosis', sans-serif;*/

    /*font-family: 'Cairo', sans-serif;*/
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Tajawal', sans-serif;
    line-height: 40px;
}
hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
html{
    height: 100%;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav > li{
    float:left !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #ff6c40 !important;
    background-color: #c1272d !important;
    border-radius: 1px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #BA0C2F;
    color: #fff !important;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.navbar-nav > li:hover{
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.dropdown-menu> li{
    border-bottom: 1px solid #eee;
    padding:6px 0px;
}
.dropdown-menu> li:last-child{
    border-bottom: 0;
}
.dropdown-menu> li a{
    color:#fff;
    font-family: 'Cairo', sans-serif;
}
.navbar-nav > li > .dropdown-menu{
    background-color: #224668;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color: #BA0C2F;
}
.dropdown-menu> li a:hover, .dropdown-menu> li a:focus, .dropdown-menu> li:hover{
    padding-right: 15px;
    background-color: #BA0C2F;
    color:#fff;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
/*start header*/
.header{
    height: 220px;
    background-image: url('/images/Preview.jpg');
    background-color: #ddd ;
    background-position:0px -100px;
    background-size: 100% 170%;
    background-repeat:no-repeat;
}
.header h1{
    color: #fefefe;
    font-weight: bold;
    font-size: 42px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Jomhuria', cursive;
}
.header .header-title{
    padding: 22px 0px;
    text-align: left;
}
.header small{
    color: #fff;
    text-align: center;
    padding: 0 8px;
}
.header-top{
    /* 	background-color: #224668; */
    height: 30px;
    overflow: hidden;
    line-height: 20px;
    background-color: #056fa8;
    /*     border-color: #a80505; */
}
.header-top .list-inline{
    padding: 0 20px;
    line-height: 25px;

}
.header-top a{
    color:#fff;
    text-decoration: none;
    font-size:12px;
}
.header-top a:hover, .header-top a:focus{
    color:#eee;
    text-decoration: none;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
a.site--login:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}
.header-top .social-media{
    padding: 4px 20px;
}
.header-top .social-media i{
    color:#fff;
    padding:0 3px;
}
.header-top .social-media a:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
/*end header*/

/*start navbar*/
.navbar-inverse {
    /*background-color: #224668;
    border-color: #224668;*/
    background-color: #056fa8;
    border-color: #056fa8;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ccc !important;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #BA0C2F  !important;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #bbbbbb !important;
    background-color: transparent;
}
/*end navbar*/

/*start slider*/

.camera_pag{
    position: absolute;
    top: 350px;
    rig-ht: 530px;
    right: 550px;
}
#camera_wrap_1{
    margin-bottom: 30px !important;
    padding-top:0 !important;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff !important;
}
/*end slider*/

/*start home content*/
.bo-dy-top{
    border-top: 3px solid #c1272d;
}
.panel-default > .panel-heading{
    background-color: #555 !important;
    color:#fff !important;
}
/**.btn-default {
    color: #fff;
    background-color: #df4167;
    border-color: #df4167;
}**/
.home-panel h5 a{
    color: #555;
    text-decoration: none;
}
.home-panel p{
    color:#555;
}
/*end home content*/

/**start login-page**/
.login-page, .register-page{
    margin: 40px 0;
}
.login-page h1, .register-page h1{
    background-color: #224668;
    padding: 5px;
    color: #fff;
    margin: 0;
}
.login-page .checkbox{line-height: 18px !important;}
/**end login-page**/

/*start post home page*/
.blog{}
.blog:hover{
    box-shadow: 0px 1px 1px 1px #ccc;
    bor-der:2px solid #fff;
}
.blog-header{
    background-color: #BA0C2F;
    padding: 10px 10px;
    height: 50px;
    text-align: center;
}
.blog-header h4{
    color:#fff;
    /*! height: 40px; */
}
.blog-header h4:hover{

}
.blog-content figure img{
    width: 100%;
    height: 100px;
}
.blog-content figure img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow:hidden;
}
.blog-content figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/*end post home page*/

/*start register-page*/
.register-page lable{
    text-align: left !immportant;
}
/*end register-page*/

/*start category-page*/
.category-title{
    background-color: #ba0c2f;
    padding: 10px;
    margin: 20px 0 10px 0;
    color: #fff;
}
.category-body{
    background-color: #fff;
}
.category-page .single-sidebar{
    margin: 20px 0;
}
.cat-content{
    padding: 10px;
    bor-der: 1px solid #fff;
    box--shadow: 0px 1px 3px 1px #ddd;
    mar-gin: 10px 0;
    bac-kground: #fff;
}
.cat-content .media-heading{
    padding:10px;
    color: #555;
    background-color: #f9f7f7;
}
.cat-content .cat-content-body {
    padding:10px;
    font-size:13px
}
.cat-content .uderline:last-child{display:none}
/*end category-page*/

/*start single post */
.single .single-box{
    padding: 20px 10px;
    border:1px solid #fff;
    box-shadow: 0px 2px 3px 1px #ddd;
    margin:20px 0;
    background: #fff;
}
.single-content{overflow: hidden;pad-ding: 0 20px;}
.single-content h2{
    color: #555;
    background-color: #f9f7f7;
    padding: 10px;
}
.single .single-content p{
    text-align: justify;
    padding: 0 10px;
}
.bar-data {color:#555;}
.bar-data span{
    padd-ing:0 5px;
    font-size:13px;
    display: -webkit-inline-box;
}
.bar-data span a{font-size:13px;color: #555;}
.bar-data .tags a{
    background-color: #337ab7;
    color: #fff;
    border-radius: 20px;
    font-size: 11px;
}
.bar-data span i{padding:0 5px;}
.single .single-sidebar{
    margin:20px 0;
}
.single-content p img{
    width:100% !important;
    height:100% !important;
}
.single-cat{
    min-height: 200px;
    margin-bottom: 20px;
}
.single-sidebar .single-cat h4{
    background-color: #ba0c2f;
    color:#fff;
    padding: 10px;
    margin: 0
}
.single-sidebar .list-group-item{
    background-color: #fff !important;
}
.single-cat ul{
    margin-top:10px;
    padding:0;
}
.single-cat li a{
    text-decoration: none;
}
.single-cat li a::before {

    content: '◉ ';

}
.uderline{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.related-post{display: flow-root;}
.related-post-heading{
    background-color: #ddd;
    padding: 10px;
    margin: 20px 0;
}
.related-post-item .related-title{
    color: #fff;
    padding: 10px 5px;
    font-size: 14px;
    background-color: #224668;
    margin: 0;
    height: 50px;
}

figure {
    overflow: hidden;
}
.related-post-item figure img{
    width: 100%;
    height: 100px;
}
.related-post-item figure img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.related-post-item figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/*end single post*/

/*start about-us*/
.about-us{}
.about-us h2{
    color: #fff;
    text-align: center;
}
.about-us p{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    /*! line-height: 30px; */
    font-family: 'Tajawal', sans-serif;
    line-height: 40px;
    text-align: center;
}
/*end about-us*/

/*start contact page*/
.contact-us{
    margin:30px 10px;
}
.contact-us h1{
    margin-bottom: 40px;
    background-color: #ddd;
    padding:10px;
}
.contact-us .panel-body{
    background-color: #eee;
    font-weight: bold;
    color: #224668;
    line-height: 40px;
}
.contact-form {
    max-width: 450px;
    margin: 0px auto
}

.contact-form .form-group {
    margin-bottom: 0;
    position: relative
}

.contact-form input {
    padding-left: 32px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 8px
}

.contact-form textarea {
    height: 180px !important
}

.contact-form input:not([type='submit']) + i {
    height: 0;
    float: left;
    position: relative;
    top: -32px;
    right: -10px;
    color: #999;
}

.contact-form .asterisx {
    height: 0;
    font-size: 22px;
    color: #b90d0d;
    position: absolute;
    right: 13px;
    top: 6px;
}
}

.contact-form .send-icon {
    display: block;
    position: relative;
    top: -30px;
    left: 97px;
    color: #FFF;
}

.contact-form .send-icon-btn{
    position: relative;
    right: 115px;
    color: #fff;
    bottom: 1px;
}
.contact-form .custom-alert {
    padding: 5px 10px;
    display: none
}
/*end contact page*/

/*start footer*/
.footer{
    background-color: #224668 !important;
    padding: 10px 0;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color:#ddd;
}
.footer-copyright{
    background: #193a58;
    border-top: 1px solid #444;
    color: #ccc;
    padding: 5px 0;
    font-size: 12px;
}
.footer .footer-list li{
    width: 80px;
    max-width: 100%;
}
.footer .footer-list a{
    color:#fff;
    text-decoration: none;
}
.footer .footer-list a:hover , .footer-list a:focus{
    font-weight: bold;
    color:#fff;
}
/*end footer*/

/*start category in dashboard*/
.cat-dashboard .just-padding {
    padding: 15px;
}

.cat-dashboard .list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.cat-dashboard .list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.cat-dashboard .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;

}

.cat-dashboard .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.cat-dashboard .list-group.list-group-root > .list-group > .list-group-item {
    padding-right: 30px;
}

.cat-dashboard .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-right: 45px;
}

.cat-dashboard .list-group-item .glyphicon {
    margin-left: 5px;
}
/*end category in dashboard*/
* {

    font-size: 15px;

}